{% extends 'base.html' %} {% block content %}
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Shopping cart</h1>
      <p class="lead fw-normal text-white-50 mb-0">View your cart ...</p>
    </div>
  </div>
</header>
<section class="py-5" style="min-height: 40vh">
  <div class="container px-4 px-lg-5 mt-5 col-8">
    <div class="ustify-content-center">
      {% if cart_products %} {% for product in cart_products %}
      <p>{{ product.name }}</p>
      <button
        type="button"
        class="btn btn-secondary cart_update_btn"
        data-id="{{product.id}}"
        data-operation="-"
        id="minus_btn_{{product.id}}"
      >
        -
      </button>
      <div id="cart_QTY_{{product.id}}" style="display: inline">
        {% for k, v in cart_products_item.items %}
        <!---->{% if k == product.id|slugify %}
        <!---->
        {{v.QTY}} {% endif %} {% endfor %}
      </div>
      <button
        type="button"
        class="btn btn-secondary cart_update_btn"
        data-id="{{product.id}}"
        data-operation="+"
        id="plus_btn_{{product.id}}"
      >
        +</button
      >{% endfor %} {% else %}
      <p>Cart Empty</p>
      {% endif %}
    </div>
  </div>
</section>

<script>
  $(document).on("click", ".cart_update_btn", function (e) {
    e.preventDefault();
    $.ajax({
      type: "POST",
      url: "{% url 'cart_update' %}",
      data: {
        product_id: $(this).data("id"),
        operation: $(this).data("operation"),
        csrfmiddlewaretoken: "{{ csrf_token }}",
        action: "post",
      },
      success: function (json) {
        console.log(json);
        document.getElementById("cart_QTY_" + json.product_id).textContent =
          json.new_QTY;
      },
      error: function (xhr, errmsg, err) {},
    });
  });
</script>
{% endblock %}
