{% extends 'base.html' %} {% block content %}
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">About Us</h1>
      <p class="lead fw-normal text-white-50 mb-0">Welcome to out website!!!</p>
    </div>
  </div>
</header>
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5 col-8">
    <div class="ustify-content-center">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis est id
        augue consequat elementum sed et nibh. In lacinia nisi nec finibus
        tincidunt. Curabitur ultrices lectus a lectus fermentum, eu luctus nibh
        porttitor. In condimentum tortor id eros porta, vel vestibulum turpis
        congue. Nullam blandit quam nec porttitor mattis. Nulla tincidunt
        condimentum sem, id faucibus lectus consequat nec. Maecenas et urna
        neque.
        <br /><br />
        Nam sollicitudin quis dui et dictum. Phasellus pharetra varius
        facilisis. Maecenas hendrerit bibendum ex vitae ornare. Proin sodales
        tincidunt mauris, id efficitur nisl lobortis in. Fusce tortor dolor,
        pellentesque sit amet pharetra in, finibus vitae tellus. Proin et
        condimentum lorem, ac dictum odio. Ut ultricies, elit eu condimentum
        ornare, est odio bibendum ex, nec fermentum tortor magna mattis sem.
        Nunc vestibulum, eros ut tincidunt auctor, est est vehicula arcu, sed
        fermentum dui magna quis augue. Donec sit amet elit pharetra, vestibulum
        turpis vel, interdum nulla. Curabitur vehicula nibh velit, non pulvinar
        felis lobortis ac. Fusce vel mattis erat. Nullam tincidunt sollicitudin
        nisi id pretium.
        <br /><br />
        Pellentesque malesuada quam ut ipsum gravida euismod. Ut dapibus
        placerat leo ut vehicula. Nulla eu enim et augue commodo aliquam sed nec
        sapien. Proin tristique justo ligula, nec blandit erat feugiat at.
        Vestibulum eu velit et nunc consectetur venenatis sed in metus. Duis
        pharetra magna sit amet magna pellentesque maximus. Aliquam erat
        volutpat. Morbi facilisis nisi bibendum efficitur iaculis. Quisque
        euismod eu augue ac pretium. Nulla facilisi. Nam sed justo consectetur,
        facilisis orci at, ultrices lorem.
      </p>
    </div>
  </div>
</section>
{% endblock %}
